@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap');
body{
    font-family: 'Fraunces', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgba(255, 192, 203, 0.8);
}
.container{
    background-color: lightpink;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.hero-head{
    font-family: inherit;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
}
.buttons{
    margin-top: 20px;

}
.btn{
    font-family:'Fraunces', sans-serif; ;
    background-color: White;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    padding: 12px 28px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 430px;
    cursor: pointer;
}
.yes{
    left: 130px;
}
.no{
    left:260px
}
.yes:hover, .no:hover{
    background-color: hotpink;
    color: beige;
}



